.flexbox{
    display: flex;
    flex-flow:  wrap row;
    width: 600px;
    height: 600px;
    background-color: blue;
    justify-content: flex-start;
    /* margin: 10px; */
    align-items: flex-start;
    align-content: flex-start   ;
}
.flexbox > div {
    width: 70px;
    height: 50px;
    background-color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
    align-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}