.outerbox {
    width: 600px;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    background-color: blue;
    justify-content: space-evenly;
    border-radius: 5px;
}
.outerbox > div {
    width: 70px;
    height: 50px;
    font-size: larger;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgray;
    border-radius: 2px;
    text-align: center;
   align-content: center;
}